.page-header
  %h1.text-center Search For Flights!

.container
  .row
  = form_tag(flights_path, method: 'get', role: 'form') do
    .col-md-2.col-sm-4
      .form-group
        = label_tag(:from_airport_id, 'From: ')
        = select_tag(:from_airport_id, options_for_select(@airport_options, @from_selected), class: 'form-control')
    .col-md-2.col-sm-4
      .form-group
        = label_tag(:to_airport_id, 'To: ')
        = select_tag(:to_airport_id, options_for_select(@airport_options, @to_selected), class: 'form-control')
    .col-md-2.col-sm-4
      .form-group
        = label_tag(:passengers)
        = select_tag(:passengers, options_for_select(@passenger_options, @passenger_selected), class: 'form-control')
    .col-md-3.col-sm-6
      .form-group
        = label_tag(:flight_date)
        = select_tag(:flight_date, options_for_select(@dates, @date_selected), class: 'form-control')
    .col-md-3.col-sm-6.text-center
      %button.btn.btn-primary.btn-lg#search_flights{name: 'commit', type: 'submit'}
        %span.glyphicon.glyphicon-search
        Search Flights

- unless @matched_flights.blank?
  = render partial: 'matching_flights', locals: {flights: @matched_flights}

- if @matched_flights.blank? && !params[:from_airport_id].blank?
  %h3 No Flights found

