.page-header
  %h1 Booking Information
%h4
  Booking Reference Number: 
  %strong= "#{@booking.ref_number}"
%br
%h3= "Flight Information"
= render @booking.flight
%br
%h3= "Information for #{pluralize(@booking.passengers.count, 'Passenger')}"

.table-responsive
  %table.table
    %thead
      %tr
        %th.col-md-3 Name
        %th.col-md-9 Email
    %tbody
      = render @booking.passengers
.text-center
  = link_to "Book Another Flight", flights_path, class: "btn btn-primary btn-lg"

